@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 216 5% 0%;
    --card: 216 50% 90%;
    --card-foreground: 216 5% 10%;
    --popover: 216 100% 95%;
    --popover-foreground: 216 100% 0%;
    --primary: 216 18.1% 16.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212.7 26.8% 83.9%;
    --secondary-foreground: 217.2 32.6% 17.5%;
    --muted: 178 30% 85%;
    --muted-foreground: 216 5% 35%;
    --accent: 173.4 80.4% 40%;
    --accent-foreground: 240 5.9% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 216 5% 90%;
    --border: 216 30% 50%;
    --input: 216 30% 18%;
    --ring: 216 18.1% 16.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5% 90%;
    --card: 240 50% 0%;
    --card-foreground: 240 5% 90%;
    --popover: 240 50% 5%;
    --popover-foreground: 240 5% 90%;
    --primary: 240 29.4% 96.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 212.7 26.8% 83.9%;
    --muted: 202 30% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 173.4 80.4% 40%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 30% 18%;
    --input: 240 30% 18%;
    --ring: 240 29.4% 96.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  *::selection {
    @apply bg-accent text-white;
  }
}
